<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized
1. Python
2. R
3. Java

__Objectives:__

- List popular languages for data science
- Commonly used libraries for data science
- 3 IDE for data science free

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib

Some of the commonly used libraries used by Data Scientists include:
- Numpy
- Pandas
- Matplotlib


|Data Science Tools|
|---|
|jupyter notebooks|
|R Studio|
|Visual studio code|

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
#This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60
200/60

# Author
Bastian K.